:root {
    --green-primary: #83993F;
    --green-secondary: #576841;
    --green-highlight: #B1BC1F;

    --red-primary: #572222;
    --red-secondary: #643337;

    --tan-primary: #C3BA9E;
    --tan-secondary: #85837C;
    --tan-highlight: #999D7D;

    --purple-primary: #2D2432;
    --purple-secondary: #4A4052;
    --purple-highlight: #130F14;
}


